$namespace: 'el' !default;
$x-namespace: 'x' !default;
$v-namespace: 'v' !default;
$common-separator: '-' !default;
$element-separator: '__' !default;
$modifier-separator: '--' !default;
$state-prefix: 'is-' !default;
