@use './logo.scss';
@use './switcher.scss';
@use './toolbar.scss';
@use './actions.scss';
@use './deps.scss';
@use './designer.scss';
@use './components.scss';
@use './outline.scss';
@use './data-sources.scss';
@use './pages.scss';
@use './previewer.scss';
@use './node-path.scss';
@use './docs.scss';
@use './about.scss';
@use './style.scss';
