
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
pnpm-lock.yaml

node_modules/
dist
dist-ssr
lib
*.local
.nx


# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
.hbuildx

# project
/packages/*/temp/
/packages/*/types/
/packages/*/lib/
/packages/*/cdn/
/packages/*/es/
/packages/*/dist/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/tsconfig.tsbuildinfo
/dev/public/libs
/example/public/libs
/packages/ide/public/libs
/packages/icons/src/components
/packages/boot/public/libs
/packages/ide/.vtj
/packages/ide/src/views/pages
/packages/ide/src/components/blocks

/packages/boot/.vtj/debug

/projects/*/types
/docs/typedoc
/docs/.vitepress/cache