hoist = true
hamefully-hoist = true
node-linker = hoisted
puppeteer_download_host=https://npmmirror.com/mirrors
# proxy=http://127.0.0.1:7890
# https-proxy=http://127.0.0.1:7890
# registry=https://registry.npmmirror.com 
