hoist = true
hamefully-hoist = true
node-linker = hoisted
puppeteer_download_host=https://npmmirror.com/mirrors
# registry=https://registry.npmmirror.com 
# //registry.npmjs.org/:_authToken=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