@use 'core' as *;
body {
  padding: 0;
  margin: 0;
  font-family: getCssVar('font-family');
  background-color: getCssVar('bg-color');
}
body,
div {
  @include scroll-bar;
}

body.is-dragging,
body.is-resizing {
  user-select: none;
  iframe {
    user-select: none;
    pointer-events: none;
  }
}

// for common

// // for tiny components
// html.tiny {
//   @include set-css-var-value('vtj-page-bg', $bg-color);
// }

// // for dark components
// html.dark {
//   @include set-css-var-value('vtj-page-bg', $bg-color);
// }
