@use 'core' as *;

@include b(image-code-input) {
  @include e(image) {
    height: 100%;
    width: 100%;
    cursor: pointer;
    @include when(small) {
      height: 22px;
    }

    @include when(default) {
      height: 30px;
    }

    @include when(large) {
      height: 38px;
    }
  }

  @include e(iconSuccess) {
    color: var(--el-color-success);
  }

  @include e(iconError) {
    color: var(--el-color-error);
  }
  .el-input-group__prepend {
    padding: 0;
  }
}
