@use 'core' as *;

@include b(panel) {
  @include m(default) {
    @include when(radius) {
      border-radius: getCssVar('border-radius-base');
    }

    @include e(header) {
      margin-bottom: 4px;
    }
    @include when(border) {
      @include e(body) {
        border: 1px solid getCssVar('border-color-light');
      }
    }

    @include when(radius) {
      @include e(body) {
        border-radius: getCssVar('border-radius-base');
      }
    }

    @include when(shadow-always) {
      @include e(body) {
        box-shadow: getCssVar('box-shadow-lighter');
      }
    }

    @include when(shadow-hover) {
      @include e(body) {
        &:hover {
          box-shadow: getCssVar('box-shadow-lighter');
        }
      }
    }
  }

  @include m(card) {
    @include when(border) {
      border: 1px solid getCssVar('border-color-light');
    }

    @include when(radius) {
      border-radius: getCssVar('border-radius-base');
    }

    @include e(header) {
      padding: 0 5px 0 10px;
      background-color: getCssVar('fill-color-lighter');
    }

    @include when(shadow-always) {
      box-shadow: getCssVar('box-shadow-lighter');
    }

    @include when(shadow-hover) {
      &:hover {
        box-shadow: getCssVar('box-shadow-lighter');
      }
    }
  }

  @include e(body) {
    @include when(padding) {
      padding: 10px;
    }
  }

  @include e(footer) {
    @include when(padding) {
      padding: 10px;
    }
  }
}
