@use 'core' as *;

@include b(qrcode) {
  display: inline-block;
  position: relative;
  min-width: 100px;

  @include e(maskWrapper) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--el-mask-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--el-color-success-dark-2);
    overflow: hidden;
  }

  @include e(mask) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--el-color-success-dark-2);
    overflow: hidden;
  }

  @include e(logo) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--el-font-size-base);
    cursor: pointer;
  }

  @include e(tip) {
    color: var(--el-text-color-secondary);
    font-size: var(--el-font-size-extra-small);
    scale: 0.7;
    max-width: 80px;
    text-align: center;
  }
}
