@use '../core' as *;

@include b(binder) {
  @include e(tabs) {
    .x-panel__header {
      background-color: var(--el-bg-color) !important;
      padding: 0 !important;
    }
    .el-tabs__item {
      border-top: 1px solid var(--el-border-color-light) !important;
    }
  }

  @include e(tab-content) {
    background-color: var(--el-bg-color);
    border-radius: 4px;
    overflow: auto;

    .el-divider__text {
      font-size: 12px;
      color: var(--el-text-color-regular);
    }
    .el-divider--horizontal {
      margin: 14px 0;
    }
  }
}
