@use '../core' as *;

@include b(box) {
  position: relative;
  height: 60px;
  cursor: move;
  overflow: hidden;
  background-color: var(--el-fill-color-lighter);
  border: 1px dashed transparent;
  padding: 10px;
  border-radius: 4px;
  flex-wrap: 1;
  flex-shrink: 1;
  margin-bottom: 5px;
  &:hover {
    border: 1px dashed var(--el-border-color-light);
    @include e(footer) {
      opacity: 1;
    }
  }

  @include e(footer) {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.03);
    font-size: 12px;
    padding: 0 10px;
    > .x-icon {
      cursor: pointer;
    }
  }

  @include e(name) {
    font-size: 14px;
    color: var(--el-color-primary-light-3);
    line-height: 1.5em;
  }
  @include e(label) {
    font-size: 12px;
    color: var(--el-text-color-regular);
    line-height: 1.5em;
  }
}
