@use 'vars' as *;

:root {
  --vtj-base-color: $vtj-background-color;
}

@include scroll-bar;

body {
  background-color: var(--vtj-base-color);
  min-width: 800px;
  min-height: 600px;
  &.is-resizing {
    user-select: none;

    iframe {
      pointer-events: none;
    }
  }
}

.vtj-layout .el-button + .el-button,
.vtj-dialog .el-button + .el-button {
  margin-left: 6px;
}

.vtj-layout,
.vtj-dialog {
  .el-button-group > .el-button + .el-button {
    margin-left: 0;
  }
}
